<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <a href="/">
        <img src="../../../../favicon.ico" alt="Logo" />
      </a>
      <p><span>Ape</span>WithGlasses</p>
    </div>
    <div class="menu__btn">
      <button>Menu bar</button>
    </div>
    <div class="navbar__links">
      <a (click)="toHome()" routerLink routerLinkActive="active" class="secondary__btn">home</a>
      <a (click)="toAbout()" routerLink routerLinkActive="active" class="secondary__btn">about me</a>
      <a (click)="toWorks()" routerLink routerLinkActive="active" class="secondary__btn">works</a>
      <a (click)="toContact()" routerLink routerLinkActive="active" class="secondary__btn">contact</a>
    </div>
  </div>
</nav>
