<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <a href="/">
        <img src="../../../../favicon.ico" alt="Logo" />
      </a>
      <p><span>Ape</span>WithGlasses</p>
    </div>
    <div class="navbar__links">
      <a (click)="toHome()" routerLink="/home" routerLinkActive="active" class="secondary__btn">home</a>
      <a (click)="toAbout()" routerLink="/about" routerLinkActive="active" class="secondary__btn">about me</a>
      <a (click)="toWorks()" routerLink="/works" routerLinkActive="active" class="secondary__btn">works</a>
      <a (click)="toContact()" routerLink="/contact" routerLinkActive="active" class="secondary__btn">contact</a>
    </div>
  </div>
</nav>
