<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <a href="/">
        <img src="../../../../favicon.ico" alt="ApeWithGlasses Logo" />
      </a>
      <p><span>Ape</span>WithGlasses</p>
    </div>
    <div class="menu__btn">
      <button>Menu bar</button>
    </div>
    <div class="navbar__links">
      <a (click)="toHome()" routerLink routerLinkActive="active" class="secondary__btn">Home</a>
      <a (click)="toAbout()" routerLink routerLinkActive="active" class="secondary__btn">About me</a>
      <a (click)="toWorks()" routerLink routerLinkActive="active" class="secondary__btn">Works</a>
      <a (click)="toSkills()" routerLink routerLinkActive="active" class="secondary__btn">Skills</a>
    </div>
  </div>
</nav>
