<section class="works" id="works">
  <div class="works__section">
    <img src="../../../../assets/icons/irregular.png" alt="irregular">
    <h5>WORKS</h5>
    <h1>My Sketches</h1>
    <div class="works__section--grid">
      <a href={{work.url}} target="_blank" class="card" *ngFor="let work of works">
        <h4>{{work.title}}</h4>
        <p>{{work.desc}}</p>
        <img [src]="work.img" alt="Project image" [id]="work.imgId">
        <div class="light__circle">
          <img src="../../../../assets/icons/arrow-left-361-svgrepo-com.svg" alt="arrow">
        </div>
      </a>
    </div>
  </div>
</section>
