<section class="works" id="works">
  <div class="works__section">
    <img src="../../../../assets/icons/irregular.png" alt="irregular icon">
    <div class="subtitle">WORKS</div>
    <h1>My projects</h1>
    <div class="works__section--grid">
      <a href={{work.url}} target="_blank" class="card" *ngFor="let work of works">
        <div class="title">{{work.title}}</div>
        <p>{{work.desc}}</p>
        <img [src]="work.img" [alt]="work.altText" [id]="work.imgId">
        <div class="light__circle">
          <img src="../../../../assets/icons/arrow-left-361-svgrepo-com.svg" alt="arrow icon">
        </div>
      </a>
    </div>
  </div>
</section>
