<section class="about" id="about">
  <div class="about-me">
    <img src="../../../../assets/icons/gem-jewelry-jewel-gemstone-mineral-svgrepo-com.svg" alt="gemstone icon">
    <div class="subtitle">ABOUT ME</div>
    <h1>Who's ApeWithGlasses?</h1>
    <section>
      <div class="portrait">
        <img loading="lazy" src="https://i.imgur.com/jC8Qesz.png" alt="Profile photo">
        <p>HelloWorld :></p>
      </div>
      <div>
        <div class="title">Wilson Giraldo</div>
        <p>Web developer and Java enthusiast. On a journey to master the art of web development and Java programming. With a strong passion for crafting digital solutions.</p>
      </div>
    </section>
  </div>
</section>
