<section class="experience" id="experience">
  <div class="experience__section">
    <img src="../../../../assets/icons/world-community-grid-svgrepo-com.svg" alt="world">
    <div class="subtitle">EXPERIENCE</div>
    <h1>My trayectory</h1>
    <div class="experiences">
      <div class="card">
        <a target="_blank" href="https://www.ceiba.com.co">
          <div class="date">
            <span>2023 - PRESENT</span>
          </div>
          <div class="content">
            <h5>Architect Java Developer · Ceiba Software 🡥</h5>
            <p>At Ceiba Software, I provide critical architectural support and maintenance services for SURA, ensuring the availability and performance of their internal applications. My role involves resolving high-priority incidents, conducting in-depth analysis to identify and fix bugs, and offering continuous technical support to maintain optimal application functionality.</p>
            <div class="technologies">
              <span>Angular</span>
              <span>Java</span>
              <span>Azure</span>
              <span>Oracle DB</span>
              <span>Spring Boot</span>
              <span>WebLogic</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
