@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background-color: #0F0F0F;
  --font-color: #FFFFFF;
  --icon-color: #292929;
  --color: #701ea7;
  --primary: #1A1A1A;
  --secondary: #333333;
  --light-gray: #4A4A4A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/*16px*/

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--font-color);
  background: var(--background-color);
}

button {
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

main {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

footer {
  margin: auto;
  padding: 20px 0;
  width: 100%;
  max-width: 1280px;
  position:static;
  bottom: 0;
  right: 0;
  left: 0;
}

.default__btn {
  width: fit-content;
  border-radius: 24px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  border: 1px solid var(--secondary);
  display: flex;
  align-items: center;
  gap: 4px;
  &:hover {
    background-color: var(--secondary);
  }
}

.primary__btn {
  background-color: var(--color);
  color: var(--font-color);
  font-size: larger;
  padding: 1rem 3rem;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: var(--secondary);
  }
}

.secondary__btn {
  background-color: var(--primary);
  border-radius: 24px;
  padding: 3px 10px;
  transition: all 200ms ease-in-out;
  border-color: var(--secondary);
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  &:hover {
    background-color: var(--secondary);
  }
}

.minimal__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--primary);
  border-color: var(--secondary);
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-radius: 24px;
  padding: 2rem;
  width: auto;
  h1 {
    margin: 1rem 0;
  }
  .icon__card {
    width: 40px!important;
    height: 40px!important;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transform: rotate(180deg);
    transition: all 200ms ease-in-out;
  }
  &:hover .icon__card {
    transform: rotate(180deg) translateX(5px);
  }
}

.minimal__card--little {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  border-color: var(--secondary);
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-radius: 24px;
  padding: 2rem;
  width: auto;
  h3 {
    margin: 0;
    &:first-of-type {
      color: var(--light-gray);
    }
  }
  .icon__card {
      width: 60px !important;
      height: 60px !important;
      right: 2rem;
      transition: all 200ms ease-in-out;
    }
    &:hover .icon__card {
      transform: translateX(-5px);
    }
}

.social {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-color: var(--secondary);
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-radius: 24px;
  padding: 2rem;
  width: auto;
  svg {
    transition: all 200ms ease-in-out;
  }
  &:hover svg {
    stroke: var(--font-color);
  }
}

.minimal__card--centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--primary);
  border-color: var(--secondary);
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-radius: 24px;
  padding: 2rem;
  width: auto;
  h1 {
    margin: 1rem 0;
  }
  .icon__card {
    width: 55px !important;
    height: 55px !important;
    margin: 0 auto;
  }
}
